<div><%= flash[:out_notice] %></div>

<div class="container">

  <div class="row mt-5">
    <div class="col-6">
      <%= image_tag 'toppage1.jpeg' , size: '400x200' %>
    </div>
    <div class="col-6">
      <p>
        フットサルは多くの戦術があり、戦術を発動させるにはチームメンバーとの連携が非常に重要です。<br><br>
        その一方、試合後にチームメンバーで試合の振り返りができておらず、戦術を浸透できていないチームが多いのではないでしょうか?<br><br>
        futsal_diaryではチームメンバーで試合の振り返りを記録として残しておくことができるため、戦術を浸透させることができます。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-list-container py-5">
        <div class="card w-50 mt-4 shadow-lg">
          <%= image_tag 'toppage2.jpeg' %>
          <div class="card-body">
            <p class="card-title">戦術</p>
            <p class="card-text">戦術を共有できる</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-list-container py-5">
        <div class="card w-50 mt-4 shadow-lg">
          <%= image_tag 'toppage3.jpeg' %>
          <div class="card-body">
            <p class="card-title">日記</p>
            <p class="card-text">日記を投稿できる</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-list-container py-5">
        <div class="card w-50 mt-4 shadow-lg">
          <%= image_tag 'toppage4.jpeg' %>
          <div class="card-body">
            <p class="card-title">コメント</p>
            <p class="card-text">チームメンバーとコメント欄で話し合う</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>