<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-4">
    <h2 class="mb-5">Diary detail</h2>
      <%= image_tag @diary.get_image(400,400) %>
    </div>
    <div class= "col-lg-4 offset-lg-1" style="margin-top:90px;">
      <p>投稿日：<%= @diary.created_at.strftime('%Y/%m/%d') %></p>
      <p>場所：<%= @diary.place %></p>
      <p>結果：<%= @diary.result %></p>
      <p>良かった点：<%= @diary.good %></p>
      <p>悪かった点：<%= @diary.bad %></p>
      <li style="list-style: none;">タグ : 
        <% @diary.tags.each do |tag| %>
          <%= link_to tag.tag_name, admin_search_path(word: tag.tag_name, range:"Tag", search: "perfect_match") %>
        <% end %>
      </li>
      <%= link_to "Edit", edit_admin_diary_path(@diary), class: "btn btn-sm btn-success edit_diary_#{@diary.id} mt-4" %>
      <%= link_to "Destroy", admin_diary_path(@diary), method: :delete, class: "btn btn-sm btn-danger destroy_diary_#{@diary.id} mt-4 ml-4" %>
    </div>
    <div class="col-lg-3" style="margin-top:90px;">
      <div class=<%= "favorite-" + @diary.id.to_s %>>
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= @diary.diary_favorites.count %>
      </div>
      <div class="diary-comments-counter">
        <%= render "admin/diary_comments/counter", diary: @diary %>
      </div>
      <div class="diary-comments-index">
        <%= render "admin/diary_comments/index", diary: @diary %>
      </div>
    </div>
  </div>
</div>