<div class="container px-5 px-sm-0"  style="margin-top:75px;">
  <div class="row justify-content-center my-4">
    <h2>Diary detail</h2>
    <div class="col-md-5 mr-5 text-center">
      <%= image_tag @diary.get_image %>
    </div>
    <div class= "col-md-6 text-center">
      <p>投稿日：<%= @diary.created_at.strftime('%Y/%m/%d') %></p>
      <p>場所：<%= @diary.place %></p>
      <p>結果：<%= @diary.result %></p>
      <p>良かった点：<%= @diary.good %></p>
      <p>悪かった点：<%= @diary.bad %></p>
      <% @diary.tags.each do |tag| %>
        <li style="list-style: none;"><%= link_to tag.tag_name, admin_search_path(word: tag.tag_name, range:"Tag", search: "perfect_match") %></li>
      <% end %>
      <%= link_to "編集", edit_admin_diary_path(@diary), class: "btn btn-sm btn-success edit_diary_#{@diary.id}" %>
      <%= link_to "削除", admin_diary_path(@diary), method: :delete, class: "btn btn-sm btn-danger destroy_diary_#{@diary.id}" %>
    </div>
    <div class=<%= "favorite-" + @diary.id.to_s %>>
      <%= @diary.diary_favorites.count %> いいね
    </div>
    <div class="diary-comments-counter">
      <%= render "admin/diary_comments/counter", diary: @diary %>
    </div>
    <div class="diary-comments-index">
      <%= render "admin/diary_comments/index", diary: @diary %>
    </div>
  </div>
</div>