<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.select :team_id, options_from_collection_for_select(Team.all, :id, :team_name) %>
  </div>

<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.select :position, [['ピヴォ',1], ['アラ',2], ['フィクソ',3], ['ゴレイロ',4]] %>
  </div>

  <% if @user.id === nil %>
    <%= f.label :speed_rate %>
    <div class="form-group" id="star">
    </div>
    <%= f.label :power_rate %>
    <div class="form-group" id="star2">
    </div>
    <%= f.label :tactics_rate %>
    <div class="form-group" id="star3">
    </div>

    <script>
    $(document).on('turbolinks:load', function() {
      $('#star').empty();
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path("star-off.png") %>',
        starOn : '<%= asset_path("star-on.png") %>',
        starHalf: '<%= asset_path("star-half.png") %>',
        scoreName: 'user[speed_rate]',
        half: true,
      });
      $('#star2').empty();
      $('#star2').raty({
        size     : 36,
        starOff:  '<%= asset_path("star-off.png") %>',
        starOn : '<%= asset_path("star-on.png") %>',
        starHalf: '<%= asset_path("star-half.png") %>',
        scoreName: 'user[power_rate]',
        half: true,
      });
      $('#star3').empty();
      $('#star3').raty({
        size     : 36,
        starOff:  '<%= asset_path("star-off.png") %>',
        starOn : '<%= asset_path("star-on.png") %>',
        starHalf: '<%= asset_path("star-half.png") %>',
        scoreName: 'user[tactics_rate]',
        half: true,
      });
    })
    </script>
  <% else %>
    <%= render "users/static_rate", user: @user %>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
