<% @diaries.each do |diary| %>
<div>
  <%= link_to diary_path(diary.id) do %>
    <%= image_tag diary.get_image %>
  <% end %>
  <p>場所：<%= diary.place %></p>
  <p>結果：<%= diary.result %></p>
  <p>良かった点：<%= diary.good %></p>
  <p>悪かった点：<%= diary.bad %></p>
  <p><% diary.tactic_tags.each do |t| %>
      <%#= t.tag.tag_name %>
     <% end %>
  </p>

  <% diary.tags.each do |tag| %>
    <%= tag.tag_name %>
    <li style="list-style: none;"><%= link_to tag.tag_name, search_path(word: tag.tag_name, range:"Tag", search: "perfect_match") %></li>
  <% end %>
  <p><%= link_to "#{diary.diary_comments.count} コメント", diary_path(diary.id) %></p>
</div>
<% end %>