<h1>日記投稿フォーム</h1>
  <%= form_with model: @diary do |f| %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>場所</h4>
      <%= f.text_field :place %>
    <h4>結果</h4>
      <%= f.select :result, [['WIN',1], ['LOSE',2], ['DRAW',3]] %>
    <h4>良かった点</h4>
      <%= f.text_area :good %>
    <h4>悪かった点</h4>
      <%= f.text_area :bad %>
    <h4>戦術</h4>
      <%= f.select :tag_tag_name:, [['アラコルタ',1], ['エル',2], ['エントラ',3], ['ジャゴナウ',4], ['パラレラ',5], ['ピヴォアラ',6], ['ピヴォ当て',7], ['へドンド',8], ['ワンツー',9]] %>
    <%= f.submit '投稿' %>
  <% end %>