<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-4">
    <h2 class="mb-5">Diary detail</h2>
      <%= image_tag @diary.get_image(400,400) %>
    </div>
    <div class= "col-lg-4 offset-lg-1" style="margin-top:90px;">
      <p><u>投稿日</u><br><%= @diary.created_at.strftime('%Y/%m/%d') %></p>
      <p><u>場所</u><br><%= @diary.place %></p>
      <p><u>結果</u><br><%= @diary.result %></p>
      <p>
        <u>良かった点</u><br>
        <%= @diary.good %><br>
        <span class="sentiment-score"><%= @diary.score1 %></span>
      </p>
      <p>
        <u>悪かった点</u><br>
        <%= @diary.bad %><br>
        <span class="sentiment-score"><%= @diary.score2 %></span>
      </p>
      <li style="list-style: none;"><u>タグ</u><br>
        <% @diary.tags.each do |tag| %>
          <%= link_to tag.tag_name, search_path(word: tag.tag_name, range:"Tag", search: "perfect_match") %>
        <% end %>
      </li>
      <% if @diary.user == current_user %>
        <%= link_to "Edit", edit_diary_path(@diary), class: "btn btn-sm btn-success edit_diary_#{@diary.id} mt-4" %>
        <%= link_to "Destroy", diary_path(@diary), method: :delete, class: "btn btn-sm btn-danger destroy_diary_#{@diary.id} mt-4 ml-4", "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
    <div class="col-lg-3" style="margin-top:90px;">
      <div class=<%= "favorite-" + @diary.id.to_s %>>
        <%= render "public/diary_favorites/btn", diary: @diary %>
      </div>
      <div class="diary-comments-counter">
        <%= render "public/diary_comments/counter", diary: @diary %>
      </div>
      <%= render "layouts/errors", obj: @diary_comment %>
      <%= render "public/diary_comments/form", diary: @diary, diary_comment: @diary_comment %>
      <div class="diary-comments-index">
        <%= render "public/diary_comments/index", diary: @diary %>
      </div>
    </div>
  </div>
</div> 