<table>
  <tbody>
      <% diary.diary_comments.each do |diary_comment| %>
      <tr>

        <td>
          <%= link_to admin_user_path(diary_comment.user) do %>
            <%= image_tag diary_comment.user.profile_image.variant(resize_to_limit: [50, 50]) %><br>
            <%= diary_comment.user.name %>
          <% end %>
        </td>
        <td><%= diary_comment.comment %></td>
        <td>
          <%= link_to "Destroy", admin_diary_diary_comment_path(diary, diary_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>