<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
      <h2>User info</h2>
      <%= render 'info', user: @user %>
    </div>
    <div class="col-md-7 offset-md-1">
      <h2>Diaries</h2>
      <h3 class="text-right">
			  <%= link_to "+", new_diary_path, class: "diary_icon" %>
		  </h3>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>投稿日</th>
            <th>投稿者</th>
            <th class="media-pc">タグ</th>
            <th>いいね</th>
            <th class="media-pc">コメント</th>
          </tr>
        </thead>
        <tbody>
          <% @diaries.each do |diary| %>
            <tr>
              <td>
                <%= link_to diary_path(diary.id) do %>
                  <%= image_tag diary.get_image(50, 50) %>
                <% end %>
              </td>
              <td><%= diary.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= diary.user.name %></td>
              <td class="media-pc">
                <% diary.tags.each do |tag| %>
                  <li style="list-style: none;"><%= link_to tag.tag_name, search_path(word: tag.tag_name, range:"Tag", search: "perfect_match") %></li>
                <% end %>
              </td>
              <td class="<%= "favorite-" + diary.id.to_s %>">
                <%= render "public/diary_favorites/btn", diary: diary %>
              </td>
              <td class="media-pc"><%= render "public/diary_comments/counter", diary: diary %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @diaries %>
    </div>
  </div>
</div>