<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class='container'>
      <%= link_to 'futsal_diary', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to class: 'nav-link text-light' do %>
              <h3>Team</h3>
            <% end %>
          </li>
            <li>
            <%= link_to user_path(current_user), class: 'nav-link text-light' do %>
              <h3>My page</h3>
            <% end %>
          </li>
          <li>
            <%= link_to diaries_path, class: 'nav-link text-light' do %>
              <h3>diaries</h3>
            <% end %>
          </li>
          <li>
            <%= link_to tactics_path, class: 'nav-link text-light' do %>
              <h3>Tactics</h3>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
              <h3>log out</h3>
            <% end %>
          </li>

        <% else %>
          <li>
            <%= link_to root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> futsal_diaryについて
            <% end %>
          </li>
          <li>
            <%= link_to new_team_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> チーム登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> ユーザー登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ユーザーログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>